# URL de base de l'API Laravel
VITE_API_URL=http://localhost:8000/api

# Cles publiques de paiement (a completer une fois obtenues aupres d'Orange/MTN)
VITE_ORANGE_MONEY_MERCHANT_KEY=
VITE_MTN_MOMO_SUBSCRIPTION_KEY=
